.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 74px;
    width: 84px;
    z-index: 200;
    display: flex;
    flex-direction: column;
}


.sidebar-link{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link img{
    width: 50px;
    cursor: pointer;
}

.odd{
    background-color: #04987e;
}
.even{
    background-color: #065680;
}