.navigation{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 110px;
    box-sizing: border-box;
}
.nav_cell{
    width: 110px;
    padding: 10px;
}
.icons{
    width: 100%;
    height: 100%;
}   
.odd{
    background-color: #04987e;
}
.even{
    background-color: #065680;
}
.stock{
    padding-top: 20px;
    padding-bottom: 20px;
}
